.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }

    .selecionados{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .todas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-top: 2px solid black;

    }
}