.navegador {
  height: 10vh;

  &__conjunto {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    li {
      list-style: none;
      text-transform: uppercase;

      .logo{
        width: 140px;
      }

      a {
        text-decoration: none;
        color: black;
        transform: scale(1.5);

        img{
          width: 40px;
        }

        &:hover {
          transform: scale(1.5);
          color: yellow;
          transition: all 0.3s;
        }
      }
    }
  }
}
.logout{
  width: 45px;
}