.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin: 39px 0px;

    button {
      
      background: linear-gradient(
        to bottom,
        #ddd342 5%,
        rgb(176, 176, 28) 100%
      );
      background-color: #ddd342;
      border-radius: 8px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 1rem;
      font-weight: bold;
      padding: 10px 22px;
      text-decoration: none;
      text-shadow: 0px 1px 0px rgb(192, 192, 33);
      border: none;
      &:hover {
        transform: scale(1.2);
        transition: all 0.4s;
      }
    }
  }

  .selecionados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .todas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid black;
  }
}
